body {
  width: 250px;
}

section {
  display: none;
  margin-bottom: 2em;
}

section.active {
  display: block;
}

#navLinks {
  list-style-type: none;
  padding: 0px;
}

#navLinks > li {
  float: left;
  margin-right: 1.5em;
  user-select: none;
}

#navLinks > li.active {
  opacity: 0.5
}

#navLinks > li:last-of-type {
  margin-right: 0px;
}

#navLinks > li:hover:not(.active) {
  cursor: pointer;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.clear-both {
  clear: both;
}
