* {
  
}

body {
  width: 250px;
}

.nav-links {
  list-style-type: none;
  padding: 0px;
}

.nav-links > li {
  float: left;
  margin-right: 1.5em;
}

.nav-links > li.active {
  opacity: 0.5
}

.nav-links > li:last-of-type {
  margin-right: 0px;
}

.nav-links > li:hover:not(.active) {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.clear-both {
  clear: both;
}
